@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: 'InterBolder';
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'InterBold';
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

*,
*::after,
*::before {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}

.img-contain {
  overflow: hidden;
}

html {
  font-size: 15px;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(230, 7%, 68%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  --gap: 1rem;
  --gap-2: 2rem;
  --padding: 1rem;
  --padding-2: 2rem;

  --logo-font: clamp(1.25rem, 1rem + 2.5vw, 3rem);
  --title-font: clamp(1.125rem, 1rem + 2.5vw, 1.25rem);
}

.normal-pointer {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--padding);
  gap: var(--gap);
}

li {
  list-style: none;
  cursor: pointer;
  font-size: 700;
  transition: .2s ease-in;
}

li:hover {
  /* padding: 10px 15px; */
  border-bottom: 2px solid #aaa;
  transform: translateY(-10%);
  padding: 2px;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .15s ease-in-out;
}

img:hover {
  scale: 105%;
}


.border-radius {
  border-radius: 12px;
}

.read-more {
  letter-spacing: 4px;
  font-weight: 600;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  border: none;
  padding: 15px 40px;
  box-shadow: 2px 2px #bebebe;
  border-radius: 2px;
  cursor: pointer;
  transition: .15s ease-in;
}


.read-more:hover {
  background-color: var(--Dark-grayish-blue);
}

.read-more:active {
  scale: 98%;
}

.display-flex,
header,
.navs,
.content-container,
.top-class,
.right-content,
.r-content,
.left-content,
.hero-description,
.sub-hero,
.bottom-class,
.bottom-content,
.text,
.content-title,
footer {
  display: flex;
}

.flex-align,
header,
footer {
  align-items: center;
}

.justify-between,
header,
.hero-description,
.sub-hero {
  justify-content: space-between;
}

.flex-direction,
.content-container,
.right-content,
.r-content,
.left-content,
.sub-hero,
.text,
.content-title {
  flex-direction: column;
}

.border {
  outline: 1px solid #aaa;
}

.container {
  min-width: 70%;
  max-width: 1200px;
  padding: 1rem;
}

header {
  padding: var(--padding);
  width: 100%;
  gap: calc(var(--gap-2) + 5vw);
  border-bottom: 2px solid #aaa;
  box-shadow: 0 2px 2px #aaaaaa3f;

  & .logo {
    /* color: var(--Very-dark-blue);
    font-size: var(--logo-font);
    font-family: 'InterBoldr';
    font-weight: bolder; */

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  & .navs {
    gap: var(--gap-2);
    align-items: center;

    & li {
      color: var(--Dark-grayish-blue);
    }
  }

  .line-menu {
    display: none;
  }

}

.content-container {
  padding: 1rem 0;
  width: 100%;
  gap: var(--gap-2);

  & .top-class {
    border-bottom: 1px solid #aaa;
    padding: 2rem;
    gap: calc(var(--gap-2) + 1vw);

    & .left-content {
      gap: var(--gap-2);

      & .hero-image {
        overflow: hidden;
      }

      & .hero-description {
        width: 100%;
        gap: var(--gap);

        & h2 {
          font-family: 'InterBolder';
          font-size: clamp(2rem, 1rem + 2.5vw, 4rem);
          max-width: 40%;
        }

        & .sub-hero {
          height: 100%;
          align-items: flex-start;

          & p {
            font-size: 1rem;
            color: grey;
            line-height: 2rem;
            font-weight: 400;
          }
        }
      }
    }

    & .right-content {
      background-color: var(--Very-dark-blue);
      padding: var(--padding-2);
      gap: var(--gap-2);
      color: var(--Off-white);
      min-width: 400px;
      justify-content: center;
      text-align: left;

      & h2 {
        font-size: clamp(2rem, 1rem + 2.5vw, 2.5rem);
        font-family: "InterBold";
        color: var(--Soft-orange);
      }

      & .r-content {
        gap: calc(var(--gap) - 10px);
        padding: var(--padding) 0;

        & .title {
          font-family: "InterBOld";
          cursor: pointer;
          transition: .15s ease-in;
        }

        & .title:hover {
          color: var(--Soft-red);
        }

        & .description {
          pointer-events: none;
          color: var(--Grayish-blue);
        }
      }

      & .r-content:nth-child(odd) {
        border-top: 1px solid var(--Grayish-blue);
        border-bottom: 1px solid var(--Grayish-blue);
      }
    }
  }

  .bottom-class {
    width: 100%;
    counter-set: sub-count;
    gap: var(--gap-2);

    & .bottom-content {
      min-width: none;
      width: calc(100% / 3);
      gap: var(--gap-2);

      & .content-img {
        min-width: 30%;
        aspect-ratio: 1/1;
        overflow: hidden;
      }

      & .text {
        gap: var(--gap);

        & h2 {
          counter-increment: sub-count;
        }

        & h2:before {
          content: "0" counter(sub-count);
          color: var(--Grayish-blue);
          font-size: 2rem;
        }

        & .content-title {
          gap: var(--gap);
          align-items: start;

          & p:nth-child(1) {
            font-size: 1.25rem;
            font-family: 'Interbold';
            transition: .15s ease;
          }

          & p:nth-child(1):hover {
            color: var(--Soft-red);
          }

          & p:nth-child(2) {
            color: var(--Grayish-blue);
            font-weight: 500;
          }
        }
      }
    }
  }
}

/* 
.line-menu {
  width: 30px;
  height: 30px;
  position: relative;
}

.line-menu::before,
.line-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  transition: .15s ease-in;
}

.line-menu::after {
  top: 80%;
}

.line-menu::before {
  top: 20%;
}

.line-menu:focus:before {
  top: 50%;
  rotate: 45deg;
}

.line-menu:focus::after {
  top: 50%;
  rotate: -45deg;
} */

.ham-menu {
  height: 30px;
  width: 30px;
  display: none;

  & svg {
    height: 100%;
    width: 100%;
  }
}

footer {
  max-width: 1300px;
  min-width: 80%;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding: var(--padding);
  gap: var(--gap-2);
  font-size: 12px;
  justify-content: center;

  & p:nth-child(1) {
    font-size: 1rem;

    & span {
      font-weight: 800;
      color: var(--Soft-red);
      cursor: pointer;
    }
  }
}

@media (width<600px) {
  .container {
    width: 100%;
  }

  footer {
    & p:nth-child(1) {
      font-size: 12px;
    }
  }

  header {
    padding: var(--padding);

    /* & .navs {
      z-index: 1;
      background-color: var(--Off-white);
      font-family: "InterBold";
      font-weight: 500;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & li {
        transform: translateX(25%);
        min-width: 30%;
      }
    } */
    & .navs {
      display: none;
    }

    & .ham-menu {
      display: block;
    }

  }

  .active {
    transform: translate(-100%);
  }

}

@media (width<900px) {

  .top-class,
  .bottom-class {
    flex-direction: column;
  }

  .bottom-content {
    min-width: 100%;
  }

  .text {
    justify-content: center;
  }

  .right-content {
    min-width: 100% !important;
  }
}

@media (width<1100px) {
  .top-class {

    & .hero-description {
      flex-direction: column;
      padding: var(--padding);

      & .hero-title {
        min-width: 100%;
      }
    }
  }
}

@media (width<1300px) {
  .container {
    padding: var(--padding);
  }
}
